h1{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: cursive;
}
* {
	box-sizing: content-box;
	margin: 0px;
	padding: 0px;
}
div{
	padding: 5px;
}
section{
	font-family: cursive;
	background-color: #c6c3c5;
	padding: : 8px;
	border: 1px solid black;
	float: left;
	margin: 5px;
	padding: 0px;
}
p{
	width: 20%;
	height: 25px;
	float: right;
	border-left:1px solid black;
	border-bottom : 1px solid black;
	text-align: center;
	justify-content: center;
}
#p1{	
	background-color: #e186ba;
	clear: right;			}
#p2{	
	background-color: #d04553;
    color: white;
}
#p3{
	background-color: #F1D86B;
}
section > div{
	clear: right;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {

  .col-lg-4 {
    float: left;
  }

  .col-lg-4 {
    width: 32%;
  }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  .col-md-6, .col-md-12 {
    float: left;
}

  .col-md-6 {
    width: 48%;
  }

  .col-md-12 {
    width: 97.5%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {

.col-sm-12 {
    float: left;
}
.col-sm-12{
    width: 98%;
}

h2 {
    bottom: 15px;
}
}

